
/* Add a black background color to the top navigation */
.topnav {
    background-color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    border-bottom-width: 2px;
    z-index: 1;
    padding-right: 18%;
}

/* Style the links inside the navigation bar */
.topnav a.regular {
    float: left;
    color: #777777;
    text-align: center;
    padding: 0px 20px;
    margin-top: 35px;
    margin-bottom: 35px; 
    text-decoration: none;
    font-size: 17px;
    border-right: 1px solid #cccccc;  
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
}

.topnav a.regular:last-child {
    border-right: none;
    
}


/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.activeName {
    background-color: #4aaaa5;
    top: 0;
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
}

img {
    padding-right: 25px;
    width: 250px;
}

body {
    background-image: url(../images/gravel.png); 
}

#container {
    /*width: 68%;*/
    background:#ffffff;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 120px;
    margin-left: 18%;/*210px;*/
    margin-right: 18%;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 50px; 
    border-style: solid;
    border-color: #dddddd;
    border-width: 2px;
   
}

.grid-container {

}

span{
    display:inline-block;
    border-bottom:3px solid #e0dfdf;
    padding-top: 15px;
    padding-bottom:2px;
    margin-bottom: 15px;
    width: 100%;
    font-weight: bold;
}

.heading {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
}

.font {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 2.0;
}

.footer {
    background-color: #666666;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top-style: solid;
    border-top-color:  #4aaaa5;
    border-top-width: 8px;
    text-align: center;
    color: lightgrey;
    font-size: 12px;
    padding-top: 12px;
    padding-bottom: 5px;
}

.footer:after{
    content:"Copyright \00a9";
}

.picFormat {
    float: left;
    padding-top: 20px;
    padding-left: 0px;
    grid-auto-flow: column;
}

.picTitle {
    position: relative;
    background-color: #4aaaa5; 
    margin-top: 144px;
    margin-right: 28px;
    margin-bottom: 45px;
    color: black;
    height: 40px; 
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
    padding-bottom: 5px;
    grid-auto-flow: column;
}

.picTitle p{
    position: absolute;
    text-align: center;
    width: 100%; 
}

.images {
    height: 200px;
    width: 270px;
    grid-auto-flow: column;
}

.inputF {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px; 
    line-height: 30px;
    border-color: lightgray;
}

.inputF:hover {
    background-color: #dddddd;
}

textarea {
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border-radius: 4px;
        resize: none;
        margin-top: 5px;
        
    }